*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.print-area {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;  
}

.main {
    margin-top: 145px;
}

.mini-header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

p {
    padding-top: 8px;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    color: white;
    text-align: center;
    padding: 40px;
}



table {
    padding: 30px 20px 0 20px;
    height: 70vh; 
}

.table-header{
    font-size: 18px;
}

.table-header, td {
    padding: 8px;
}


td {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;

}


    

tr:nth-child(even) {
    background-color: #e0d85cf5;
}

tr:nth-child(odd) {
    background-color: #333;
    color: whitesmoke;
}

footer {
    background-color: #333;
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 45px;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
}

.footer-right {
    padding-right: 20px;
}

.fa {
    color: turquoise;
    padding-left: 20px;
    text-decoration: none;

}

.fa:hover {
    opacity: 0.7;
    font-size: 30px;
    color: white;
}



